body {
  margin: 0;
  padding: 0;
}
 
.App {
  display: flex;
}
 
main {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.userbar {
	height: 5vh;
	width: 100vw;
	background-color: gray;
	display: flex;
    flex-direction: row;
}

.username {
	height: 5vh;
	margin-left:auto;
	white-space:nowrap;
}

.spacer {
	width: 100%;
}

.userLogo {
  background-size: cover;
  max-width: 5vh;
  height: 5vh;
  filter:  brightness(95%);
  margin-left:auto;
}

.appNameLogo {
	margin-left:5px;
	
}

.searchbar{
	
	
}